
*{
   
    box-sizing: border-box;

} 
div h1{
    font-size: 60px;
    text-align: center;
}
@media screen and (min-width: 1440px){
    .container p{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        background-color: #28fcd5;
        width: 100vw;
        height: 100vh;
        align-items: center;
        align-content: flex-start;
       
    }
}
@media screen and  (min-width: 1024px) and (max-width: 1440px){
    .container p{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        background-color: #06bb24;
        width: 100vw;
        height: 100vh;
        /* justify-content: center; */
        align-items: center;
        align-content: flex-start;
       
    }
    #large-screens{
        display: flex;
        font-size: 25px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px){    
    .container p{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        background-color: #d9a216;
        width: 100vw;
        height: 100vh;
        /* justify-content: center; */
        align-items: center;
        align-content: flex-start;
       
    }
    #laptops{
        display: flex;
        font-size: 25px;
    }     
}
@media screen and (min-width: 425px) and (max-width: 768px){
    .container p{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        background-color: rgb(18, 240, 233);
        width: 100vw;
        height: 100vh;
        /* justify-content: center; */
        align-items: center;
        align-content: flex-start;
       
    }
    #tablet{
        display: flex;
        font-size: 25px;
    }     
}
@media screen and (max-width:425px)  {
    .container p{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        background-color: rgb(190, 13, 54);
        width: 100vw;
        height: 100vh;
        /* justify-content: center; */
        align-items: center;
        align-content: flex-start;
       
    }
    #mobile{
        display: flex;
        font-size: 25px;
    }     
}
/* @media screen and (min-width: 0px) {
    .container p{
        display: none;
    }
    .container{
        display: none;
    }
         
}  */







